{% extends 'common/base.html' %}
{% block content %}
{% if images %}
  <section class="swiper" onselectstart="return false" oncontextmenu="return false" >
    <div class="swiper-wrapper" max-length="{{ images|length }}">
        {% for image in images %}
          <div class="swiper-slide">
            <img class="slide-img" src="/media/{{ image.image }}" style="background-color={{ image.background_color }};">
          </div>
        {% endfor %}
    </div>
  </section>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev"></div>
  <div class="swiper-button-next"></div>
{% endif %}
{% endblock %}