{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Photograss - Home</title>
  </head>
  <body>

    <!-- Navigation Bar -->
    {% include 'main/navbar.html' %}

    <div class="swiper">
      <div class="swiper-wrapper">
        {% if images %}
          {% for image in images %}
            <div class="swiper-slide">
              <img class="slide_img" src="{{ prefix }}imgs/main_carousel/{{ image }}">
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    <!-- Extended templates -->
    {% block content %}
    {% endblock %}

    <div class="swiper-pagination"></div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script>
      // Initiate Swiper slider
      const swiper = new Swiper('.swiper', {
        autoplay: {
          delay: 5000,
        },
        autoHeight: false,
        speed: 700, // ms
        spaceBetween: 0,
        direction: "horizontal",
        loop: true,
        pagination: {
          el: ".swiper-pagination",
        },
      });
    </script>

  </body>
</html>
