<div class="navbar-container">
  <div class="title-box">
    <a id="title" href={% url 'main:home' %} title="Photograss">Photograss</a>  
  </div>
  <div class="menu-group">
    <ul class="menu-list">
      <li class="menu-item">
        <a id="snap" class="nav-link {% if "/snap" in request.path %}active{% endif %}" href="{% url 'main:snap' %}">
          <span class="link">Snap</span>
          <span class="link serif">Snap</span>
        </a>
      </li>
      <li class="menu-item">
        <a id="projects" class="nav-link {% if "/projects" in request.path %}active{% endif %}" href="{% url 'main:project' %}">
          <span class="link">Projects</span>
          <span class="link serif">Projects</span>
        </a>
      </li>
      <li class="menu-item">
        <a id="commercial" class="nav-link {% if "/commercial" in request.path %}active{% endif %}" href="{% url 'main:commercial' %}">
          <span class="link">Commercial</span>
          <span class="link serif">Commercial</span>
        </a>
      </li>
      <li class="menu-item">
        <a id="photobook" class="nav-link {% if "/photobook" in request.path %}active{% endif %}" href="#">
          <span class="link">Photobook</span>
          <span class="link serif">Photobook</span>
        </a>
      </li>
      <li class="menu-item">
        <a id="about" class="nav-link {% if "/about" in request.path %}active{% endif %}" href="#">
          <span class="link">About</span>
          <span class="link serif">About</span>
        </a>
      </li>
    </ul>
  </div>
</div>