<div class="navbar-container">
  <div class="title-box">
    <a id="title" href={% url 'main:home' %} title="Photograss">Photograss</a>  
  </div>
  <div class="menu-group">
    <ul class="menu-list">
      <li class="menu-item">
        <a class="nav-link" href="{% url 'main:snap' %}">Snap</a>
      </li>
      <li class="menu-item">
        <a class="nav-link" href="{% url 'main:project' %}">Projects</a>
      </li>
      <li class="menu-item">
        <a class="nav-link" href="{% url 'main:commercial' %}">Commercial</a>
      </li>
      <li class="menu-item">
        <a class="nav-link" href="#">Photobook</a>
      </li>
      <li class="menu-item">
        <a class="nav-link" href="#">About</a>
      </li>
    </ul>
  </div>
</div>