{% extends 'common/base.html' %}
{% block content %}
  <div class='phrase-box'>
    <p class='phrase'>How important is living a slow life. Let's walk slowly and get lost. Let's not just look forward but give warm eyes to every corner. Let's give love to everything in the world.</p>
  </div>
  
  <div class="masonry-container">
    {% for image in images %}
      <div class="masonry-content">
        <img class="masonry-image snap" src="{{ prefix }}imgs/snap/{{ image }}">
      </div>
    {% endfor %}
  </div>
{% endblock %}