{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style_splash.css' %}">
    <title>Photograss - Index</title>
  </head>
  <body>
    <div class="main">
      <div class="splash-title-container">
        <a class="splash-title-package" href="{% url 'main:home' %}">
          <h1 class="t1">Photograss</h1>
        </a>
        <div class="splash-cta"><a href="{% url 'main:home' %}">CLICK TO ENTER</a></div>
      </div>
    </div>  
    <video muted autoplay loop>
      <source class="splash-video" src="media/videos/{{ video }}" type="video/mp4">
      <strong>Your browser does not support the video tag.</strong>
    </video>
    <script>
      window.onload = function() {
        let video = document.querySelector(".splash-video");
        video.src = "media/videos/{{video}}";
      }
    </script>
  </body>
</html>
