@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 
@font-face {
  font-family: 'PP Neue Montreal Book';
  src: url("fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PP Neue Montreal Medium';
  src: url("fonts/PPNeueMontreal-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PP Neue Montreal Bold';
  src: url("fonts/PPNeueMontreal-Bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'PP Neue Montreal Italic';
  src: url("fonts/PPNeueMontreal-Italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PP Neue Montreal Semibold Italic';
  src: url("fonts/PPNeueMontreal-SemiBolditalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'PP Neue Montreal Thin';
  src: url("fonts/PPNeueMontreal-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Migra Eb';
  src: url("fonts/Migra-Extrabold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Migra El';
  src: url("fonts/Migra-Extralight.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Migra Italic Eb';
  src: url("fonts/MigraItalic-ExtraboldItalic.woff2") format("woff2");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Migra Italic El';
  src: url("fonts/MigraItalic-ExtralightItalic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
} */


* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;

  font-family: 'PP Neue Montreal Medium', sans-serif;

}

main, header, footer {
  display: block;
}

::-webkit-scrollbar {
  display: none;
}

/* SPLITTEXT */
.quoteContainer { 
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.quoteBox {
  display: flex;
  flex-direction: row;
  justify-content: center;
}


@media screen and (min-width: 1440px) {
  :root {
    font-size: 14px;
    --side-padding: 192px;

    --logo-width: 200px;
    --header-height: 5rem;
    --header-menu-fontsize: 1rem;
    --header-logosize: 1rem;
    --header-padding: 192px;
    --header-right-padding: 2rem;

    --instagram: 1.4rem;

    --footer-padding-side: var(--side-padding);
    --footer-padding-top: 1rem;
    --footer-height: 7rem;
    --footer-fontsize: 0.9rem;
    --footer-margin: 1rem;

    --masonry-margin: 7rem;

    --project-inner-padding: 10rem;
    --project-card-fontsize: 10rem;
    --project-card-height: 9rem;
    --project-card-padding: 1rem;

    --marquee-height: 5rem;
    --marquee-fontsize: 3rem;
    --marquee-padding: 1rem;
    --marquee-text-margin: 3rem;

    --project-desc-fontsize: 0.9rem;

    --swiper-pagination-fontsize: 4rem;
  }
}
/*

! ------------------ COMMON COMPONENTS ---------------------

HEADER 

*/

.navbar-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  box-sizing: border-box;
  height: var(--header-height);
  padding: 0 var(--side-padding);

  background: black;
  color: white
}

.menu-group {
  width: 50%;

  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}

.menu-box {
  padding-right: var(--header-right-padding);
}

.menu-list {
  list-style: none;
  display: flex;
  justify-content: left;
}
.menu-item {
  display: inline-block;
  margin: 1rem 1rem;
  height: fit-content;
  overflow: hidden;
}

/* Nav Items */
.nav-link { 
  color: inherit;
  font-size: var(--header-menu-fontsize);
  text-decoration: none !important;
  position: relative;
  display: flex;
}
  /* Nav link hover & transform styling
  
  .nav-link:hover {
    transform: translateY(-150%);
  }
    .nav-link span {
      display: block;
    }
    .nav-link.active {
      font-weight: 500;
      color: seagreen;
    }
    .nav-link:visited {
      color: inherit;
      text-decoration: none !important;
    }
    .nav-link .link:nth-of-type(1) {
      color: black;
    }
    .nav-link .link:nth-of-type(2) {
      color: seagreen;
      position: absolute;
      transform: translateY(150%);
    } */

/* Logo Title */
.title-box {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
}
  #title {
    font-size: var(--header-logosize);
    color: inherit;
    text-decoration: none !important;
  }
  #title:visited {
    color: inherit;
    text-decoration: none !important;
  }

.instagram-icon {
  font-size: var(--instagram);
  color: inherit;
}
.instagram-icon:visited {
  color: inherit;
}

/* FOOTER */

.footer {
  position: absolute;
  margin: 0;
  z-index: 3;
  height: auto;
  width: 100%;
  padding: var(--footer-padding-top) var(--footer-padding-side);
  box-sizing: border-box;
  background: black;
}
.footer-content {
  color: white;
  font-size: var(--footer-fontsize); 
}

/*


*/

/* 

HOME SCREEN CAROUSEL 

*/
.swiper {
  margin: 0;
  width: 100vw;
  height: 100vh;

  /* Disable interaction */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  /* Disable download Mobile */
  -webkit-touch-callout: none;
}

.swiper-wrapper , .swiper-slide {
  width: 100%;
  height: 100%;
}

.slide-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-pagination {
  width: auto;
  height: 10%;
}

.swiper-pagination-bullet {
  font-size: var(--swiper-pagination-fontsize);
  letter-spacing: -0.2rem;

  width: fit-content;
  height: fit-content;
  background: transparent;
}



/*

! ------------------- PROJECT PAGE -------------------!

PROJECT LIST SCREEN
*/
.projects-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;

  margin: 0;
  padding: var(--project-inner-padding) 0;
  box-sizing: border-box;

  position: relative;
  background: #FFC700;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.project-card {
  cursor: pointer;
  width: fit-content;
  height: var(--project-card-height);
  text-align: center;
  padding: var(--project-card-padding) 0;
}

.project-card a {
  font-size: var(--project-card-fontsize);
  text-decoration: none;
  color: black;
}

.quote-second {
}

/*

PROJECT DETAIL PAGE

*/
/*   PROJECT DETAIL PAGE - MARQUEE SECTION   */
.marquee-wrap {
  display: flex;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;

  position: relative;
  width: 100%;
  height: fit-content;
  background: black;
  box-sizing: border-box;
}
.marquee {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: var(--marquee-text-margin);
  width: fit-content;
  height: fit-content;
  margin: 0;

  color: white;
  font-size: var(--marquee-fontsize);

  animation: marquee 20s linear infinite;
}
@-moz-keyframes marquee {
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
/* PROJECT THUMBNAIL SECTION */
.project-thumbnail {
  width: 100vw;
  height: auto;
}
/* PROJECT DETAIL SECTION */
.project-detail-container {
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: var(--project-inner-padding) 0;
  padding: 0 var(--side-padding);
  position: relative;
  box-sizing: border-box;
}
.project-desc {
  margin: 1rem 0;
  font-size: var(--project-desc-fontsize);
  line-height: 160%;
  color: slategray;
  text-align: center;
}
.project-photo-container {
  width: 100%;
}
.project-photo {
  width: 100%;
  height: auto;
  /* Disable interaction */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  /* Disable download Mobile */
  -webkit-touch-callout: none;
}

/*

! ------------ SNAPSHOTS PAGE STYLES ------------------!

*/

.expand-bg {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

  .expand-bg.visible {
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: visible;
  }

  .expand-img {
    /* Disable interaction */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none ;
    pointer-events: none;
    /* Disable download Mobile */
    -webkit-touch-callout: none;

    width: 80%;
    height: 80%;
    background-position: center;
    object-fit: contain;
  }

.masonry-container {
  max-width: 1300px;
  width: 100%;
  margin: var(--masonry-margin) auto;
  min-height: 400px;
  column-count: 4;
  column-gap: 10px;
  z-index: 3;
}
  .masonry-content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    cursor: pointer;
    
  }
  .masonry-content:hover img{
    opacity: .7;
  }
  .masonry-content > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }
  .masonry-image {
    width: 100%;
    transition: all 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
  }

.phrase-box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.phrase {
  font-family: 'Adeston';
  font-size: 6rem;
  color: orangered;
  letter-spacing: -3px;
  line-height: 130%;
  text-align: center;
  word-wrap: normal;
}

.blur {
  opacity: 0;
  /* backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}




/* 



Testing



*/
