.expand-bg {
  width: 100%;
  height: 100%;
  z-index: 5;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

.expand-bg.visible {
  transition: all 2s ease;
  -webkit-transition: all 2s ease;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  visibility: visible;
}

.expand-img {
  /* Disable interaction */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  /* Disable download Mobile */
  -webkit-touch-callout: none;

  width: 80%;
  height: 80%;
  background-position: center;
  object-fit: contain;
}