/* Font-faces */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/redaction');

@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PP Eiko';
  src: url('fonts/PPEiko-Heavy.woff2') format('woff2'),
      url('fonts/PPEiko-Heavy.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Eiko';
  src: url('fonts/PPEiko-LightItalic.woff2') format('woff2'),
      url('fonts/PPEiko-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Eiko';
  src: url('fonts/PPEiko-BlackItalic.woff2') format('woff2'),
      url('fonts/PPEiko-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Eiko';
  src: url('fonts/PPEiko-Medium.woff2') format('woff2'),
      url('fonts/PPEiko-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Eiko';
  src: url('fonts/PPEiko-Thin.woff2') format('woff2'),
      url('fonts/PPEiko-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('fonts/PPNeueMachina-InktrapLight.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('fonts/PPNeueMachina-InktrapRegular.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap Light It';
  src: url('fonts/PPNeueMachina-InktrapLightItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap UlBd It';
  src: url('fonts/PPNeueMachina-InktrapUltraboldItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapUltraboldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap';
  src: url('fonts/PPNeueMachina-InktrapRegularItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain Light It';
  src: url('fonts/PPNeueMachina-PlainLightItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainLightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain';
  src: url('fonts/PPNeueMachina-PlainRegular.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Inktrap Ulbold';
  src: url('fonts/PPNeueMachina-InktrapUltrabold.woff2') format('woff2'),
      url('fonts/PPNeueMachina-InktrapUltrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain';
  src: url('fonts/PPNeueMachina-PlainLight.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainLight.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain';
  src: url('fonts/PPNeueMachina-PlainRegularItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainRegularItalic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain';
  src: url('fonts/PPNeueMachina-PlainUltrabold.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainUltrabold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Machina Plain Ulbold It';
  src: url('fonts/PPNeueMachina-PlainUltraboldItalic.woff2') format('woff2'),
      url('fonts/PPNeueMachina-PlainUltraboldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

::-webkit-scrollbar {
  display: none;
}


@media screen and (min-width: 1440px) {
  :root {
    font-size: 14px;
    --side-padding: 192px;

    --logo-width: 200px;
    --header-height: 5rem;
    --header-fontsize: 1rem;
    --header-logosize: 2rem;
    --header-padding: 192px;

    --instagram: 1.4rem;

    --footer-padding-side: var(--side-padding);
    --footer-padding-top: 1rem;
    --footer-height: 7rem;
    --footer-fontsize: 0.9rem;
    --footer-margin: 1rem;

    --masonry-margin: 7rem;

    --project-inner-padding: 10rem;
    --project-card-fontsize: 10rem;
    --project-card-padding: 1rem;

    --marquee-height: 5rem;
    --marquee-fontsize: 8rem;
    --marquee-padding: 1rem;
    --marquee-text-margin: 3rem;

    --project-desc-fontsize: 0.9rem;
  }
}
/*

! ------------------ COMMON COMPONENTS ---------------------

HEADER 

*/

.menu-group {
  top: 0;
  z-index: 3;
  position: fixed;

  background: white;
  width: 100%;
  height: var(--header-height);
  padding: 0 var(--header-padding);

  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu-list {
  list-style: none;
}
.menu-item {
  display: inline-block;
  margin: 1rem 1rem;
  height: var(--header-fontsize);
  overflow: hidden;
}

/* Nav Items */
.nav-link { 
  color: black;
  font-family: 'PP Neue Machina Inktrap', sans-serif;
  font-weight: normal;
  font-size: var(--header-fontsize);
  text-decoration: none !important;
  position: relative;
  display: flex;

/*transform: translateY(0);
  transition: all .5s cubic-bezier(.7, 0, .3, 1);
  transition-delay: -0.05s; */

}
  /* Nav link hover & transform styling
  
  .nav-link:hover {
    transform: translateY(-150%);
  }
    .nav-link span {
      display: block;
    }
    .nav-link.active {
      font-weight: 500;
      color: seagreen;
    }
    .nav-link:visited {
      color: inherit;
      text-decoration: none !important;
    }
    .nav-link .link:nth-of-type(1) {
      color: black;
    }
    .nav-link .link:nth-of-type(2) {
      color: seagreen;
      position: absolute;
      transform: translateY(150%);
    } */

/* Logo Title */
.title-box {
  width: var(--logo-width);
  height: var(--header-height);
  left: calc(50vw - (var(--logo-width) / 2));

  top: 0;
  z-index: 4;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;
}
  #title {
    font-family: 'PP Neue Machina Plain';
    font-weight: normal;
    font-size: var(--header-logosize);
    
    color: black;
    text-decoration: none !important;
  }
  #title:visited {
    color: inherit;
    text-decoration: none !important;
  }

.instagram-icon {
  font-size: var(--instagram);
  color: black;
}
.instagram-icon:visited {
  color: black;
}

/* FOOTER */

.footer {
  position: absolute;
  margin: 0;
  z-index: 3;
  height: auto;
  width: 100%;
  padding: var(--footer-padding-top) var(--footer-padding-side);
  box-sizing: border-box;
  background: black;
}
.footer-content {
  color: white;
  font-size: var(--footer-fontsize); 
}

/*


*/

/* 

HOME SCREEN CAROUSEL 

d*/
.swiper {
  top: var(--header-height);
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.swiper-pagination {
  bottom: 2rem !important;
}
.swiper-pagination-bullet { 
  background-color: transparent;
  border: 1px solid white;
}
.swiper-pagination-bullet-active {
  background: rgba(255,255,255,0.6);
}

.slide-img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
}


/*

! ------------------- PROJECT PAGE -------------------!

PROJECT LIST SCREEN
*/
.projects-container {
  width: 100vw;
  height: auto;
  min-height: 100vh;

  margin: 0;
  padding: var(--project-inner-padding) 0;
  box-sizing: border-box;

  position: relative;
  background: #FFC700;
}

.project-card {
  width: 100%;
  height: var(--project-card-fontsize);
  text-align: center;
  padding: var(--project-card-padding) 0;

  display: flex;
  justify-content: center;
  align-items: center;
}

.project-card a {
  font-size: var(--project-card-fontsize);
  font-family: 'PP Neue Machina Inktrap', sans-serif;
  font-weight: normal;
  text-decoration: none;
  color: black;
}

.project-card a:hover {
  font-family: 'PP Eiko', sans-serif;
  font-style: italic;
  font-weight: 500; 
}

/*

PROJECT DETAIL PAGE

*/
/*   PROJECT DETAIL PAGE - MARQUEE SECTION   */
.marquee-wrap {
  display: flex;
  overflow: hidden;
  user-select: none;
  white-space: nowrap;

  top: var(--header-height);
  position: relative;
  width: 100%;
  height: fit-content;
  background: black;
  box-sizing: border-box;
}
.marquee {
  list-style: none;
  display: flex;
  flex-shrink: 0;
  justify-content: space-around;
  gap: var(--marquee-text-margin);
  width: fit-content;
  height: fit-content;
  margin: 0;

  color: white;
  font-size: var(--marquee-fontsize);
  font-family: 'PP Eiko', sans-serif;
  font-style: italic;
  font-weight: 500; 

  animation: marquee 20s linear infinite;
}
@-moz-keyframes marquee {
  from {
    -moz-transform: translateX(0);
  }
  to {
    -moz-transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(0);
  }
  to {
    -webkit-transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--marquee-text-margin)));
  }
}
/* PROJECT THUMBNAIL SECTION */
.project-thumbnail {
  width: 100vw;
  height: auto;
}
/* PROJECT DETAIL SECTION */
.project-detail-container {
  left: 0;
  width: 100vw;
  height: auto;
  min-height: 100vh;
  margin: var(--project-inner-padding) 0;
  padding: 0 var(--side-padding);
  position: relative;
  box-sizing: border-box;
}
.project-desc {
  margin: 1rem 0;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--project-desc-fontsize);
  line-height: 160%;
  color: slategray;
  text-align: center;
}
.project-photo-container {
  width: 100%;
}
.project-photo {
  width: 100%;
  height: auto;
  /* Disable interaction */
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  /* Disable download Mobile */
  -webkit-touch-callout: none;
}

/*

! ------------ SNAPSHOTS PAGE STYLES ------------------!

*/

.expand-bg {
  margin: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  top: 0;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  visibility: hidden;
}

  .expand-bg.visible {
    transition: all 2s ease;
    -webkit-transition: all 2s ease;
    background: rgba(0,0,0,0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    visibility: visible;
  }

  .expand-img {
    /* Disable interaction */
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none ;
    pointer-events: none;
    /* Disable download Mobile */
    -webkit-touch-callout: none;

    width: 80%;
    height: 80%;
    background-position: center;
    object-fit: contain;
  }

.masonry-container {
  max-width: 1300px;
  width: 100%;
  margin: var(--masonry-margin) auto;
  min-height: 400px;
  column-count: 4;
  column-gap: 10px;
  z-index: 3;
}

  .masonry-content {
    display: grid;
    grid-template-rows: 1fr auto;
    margin-bottom: 10px;
    break-inside: avoid;
    cursor: pointer;
  }

  .masonry-content > img {
    grid-row: 1 / -1;
    grid-column: 1;
  }

  .masonry-image {
    width: 100%;
  }

.phrase-box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.phrase {
  font-family: 'Adeston';
  font-size: 6rem;
  color: orangered;
  letter-spacing: -3px;
  line-height: 130%;
  text-align: center;
  word-wrap: normal;
}

.blur {
  opacity: 0;
  /* backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}