/* Font-faces */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Red+Hat+Display:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('http://fonts.cdnfonts.com/css/redaction');

@font-face {
  font-family: "Adeston";
  src: url("fonts/adeston-bw9b8.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

/* 
font-family: 'Inter', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Red Hat Display', sans-serif;
*/

:root {
  font-size: 14px;
  --top-nav-height: 8rem;
}

body {
  margin: 0;
  min-width: 100vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
}

.title-box {
  overflow: hidden;
  position: relative;
  max-width: fit-content;
}

.title-box a {
  display: inline-block;
  font-family: 'Redaction';
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
  color: inherit;

  /* Marquee */
  /* -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  transform: translateX(100%); */
  /* Apply Animation */
  /* -moz-animation: marquee 7s linear infinite;
  -webkit-animation: marquee 7s linear infinite;
  animation: marquee 7s linear infinite; */
}

.title-box a:hover {
  /* Animation stop when hover */
  -moz-animation-play-state: paused;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
}

@-moz-keyframes marquee {
  from {
    -moz-transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
  }
}

@-webkit-keyframes marquee {
  from {
    -webkit-transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
  }
}

@keyframes marquee {
  from {
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
  }
  to {
    -moz-transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    transform: translateX(-100%);
  }
}

.swiper {
  margin: 0;
  width: 100vw;
  height: 100vh;
}

.swiper-pagination-bullet { 
  background-color: transparent;
  border: 1px solid white;
}

.swiper-pagination-bullet-active {
  background: rgba(255,255,255,0.6);
}

/* Navigation Bar stylesheet */
.navbar-container {
  background: transparent;
  width: 96vw;
  height: var(--top-nav-height);
  z-index: 2;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 2vw;
}

.nav-link {
  text-decoration: none !important;
  color: inherit;
}

.nav-link.active {
  font-weight: 500;
  color: white;
  background: seagreen;
}

.nav-link:visited {
  text-decoration: none !important;
}

.menu-list {
  list-style: none;
}

.menu-item {
  display: inline;
  margin: 0 0.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

.projects-container {
  width: 100%;
}

.project-list {
  width: 25%;
  float: left;
  padding: 0 4%;
  box-sizing: border-box;
}

.project-list-title {
  font-family: 'Redaction 20';
  font-size: 1rem;
  margin-bottom: 0.6rem;  
}

.project-card {
  padding: 0 1%;
  margin: 2% 0;
}

.project-item {
  font-size: 1.6rem;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  text-decoration: none;
  color: black;
}

.project-item:visited {
  color: inherit;
}

.project-container {
  width: 70%;
  float: left;
}

.project-photo-container {
  width: 100%;
}

.project-photo {
  width: 100%;
  height: auto;
}

.masonry-container {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  min-height: 400px;
  column-count: 4;
  column-gap: 10px;
  z-index: 3;
}

.masonry-content {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 10px;
  break-inside: avoid;
  cursor: pointer;
}

.masonry-content > img {
  grid-row: 1 / -1;
  grid-column: 1;
}

.masonry-image {
  width: 100%;
}

.phrase-box {
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none ;
  pointer-events: none;
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 3;
  
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.phrase {
  font-family: 'Adeston';
  font-size: 6rem;
  color: orangered;
  letter-spacing: -3px;
  line-height: 130%;
  text-align: center;
  word-wrap: normal;
}

.blur {
  opacity: 0;
  /* backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}